ul li{
    display: inline-table;
    width: 64px;
    text-align: center;
}

.dir{
    background: url("../img/folder.png") no-repeat center;
    width: 64px;
    height: 64px;
    margin-left : auto;
    margin-right : auto;
}

.file{
    background: url("../img/file.png") no-repeat center;
    margin-left : auto;
    margin-right : auto;
    width: 64px;
    height: 64px;
}

.parent{
    background: url("../img/back.png") no-repeat center;
    background-size: 50%;
    width: 50px;
    height: 50px;
    margin-left : auto;
    margin-right : auto;
}

.croix {
    text-align: right;
}

#header
{
    height: 47px;
    width: 100%;
    background-color: #777777;
}

#title
{
    display: inline-block;
    width: 100%;
    margin-top: 0;
    vertical-align: top;
    color: #c6a668;
    text-align: center;
    font-family: 'Dancing Script';
}

#icone
{
    float: right;
    display: inline-block;
    text-align: right;
    background-color: #666666;
    border-radius: 10px;
}

.descr-ico{
    width: 100px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #fff;
    background-color: #BCBCBC; }

.btn-circle {

    margin: 10px;
    width: 12em;
    height: 3em;
    line-height: 1.428571429;
    border-radius: 10px;
    position: relative;
    font-size: 0.8em;
    font-family: 'Pacifico';
}

#drop-zone {
    color:#ffffff;
}

h1 {
    color: #666666;
}

a.boxclose{
    display:block;
    float: right;
    box-sizing:border-box;
    width:16px;
    height:16px;
    border-width:1px;
    border-style: solid;
    border-color:black;
    border-radius:100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background: -moz-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -moz-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background: -o-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
    background: -ms-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);

    background-color:black;
    box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}